*{
    padding: 0;
    margin: 0;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
body{
    background-color:#75acb6;
}
#pageheader{
    width: 100%;
    min-height: 100px;
    background-image: url(Images/plaidtile.png);
    background-position: center center;
    position: relative;
}
#pageheader::before{
    content: "";
    height: 100%;
    width: 10rem;
    background-image: url(Images/petmanialogo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
}
#wrapper{
    margin: auto;
    min-height:650px;
    background-color: none;
}
#mainmedia{
    width: 100%;
    min-height: 200px;
    background-image: url(Images/tortoiseHolding.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    box-shadow: inset 0px 0px 40px 10px white;
    grid-area: med;
}
#pagenav{
    max-width: 100%;
    min-height: 100px;
    background-color: #FFDA87;
    grid-area: nav;
    text-align: center;
    padding: 1rem;
    background-image: url(Images/clownfish.png);
    background-repeat: no-repeat;
    background-position-x: -40px;
    background-position-y: 5.5rem;
    background-size: 120px;
}
#pagenav ul{
    list-style-type: none;
    font-size: larger;
    padding-top: 5px;
}
#pagenav a{
    text-decoration: none;
    color: #EA7418;
}
#pagenav a:hover{
    text-decoration: underline;
    color: #b27b5a;
}
#pagemain{
    max-width: 100%;
    min-height: 400px;
    padding: 2rem;
    background-color: #fafeff;
    color: #5f4433;
    box-sizing: border-box;
    grid-area: mai;
}
#pagemain p{
    padding-top: 10px;
}
img.centerimage{
        max-width: 50%;
        display: block;
        margin: auto;
    }
#contact{
    width: 100%;
    min-height: 50px;
    background-color: #B8EEF6;
    grid-area: con;
    padding: 1rem;
    box-sizing: border-box;
    text-align: center;
    color: #b27b5a;
}

@media screen and (min-width:768px){
    #wrapper{
    width: 90%;
    max-width: 1200px;
    margin-top: 10px;
    min-height: 750px;
    display: grid;
    grid-template-areas:
    "med med med med med"
    "nav nav mai mai mai"
    "nav nav mai mai mai"
    "con con con con con";
    box-shadow: #608f97 0px 0px 6px 1px;
    border-radius: 1rem 1rem 1rem 1rem;
    }
    #mainmedia{
        border-radius: 1rem 1rem 0rem 0rem;
    }
    #pagemain{
        min-height: 500px;
    }
    #pagenav{
        min-height: 300px;
        background-position-x: -50px;
        background-position-y: 450px;
        background-size: 150px;
    }
    #pagenav ul{
        margin: auto;
        padding-top: 200px;
        width: max-content;
    }
    #contact{
        border-radius: 0rem 0rem 1rem 1rem;
    }
}